<%= render partial: 'partials/admin/admin_navbar' %>
<h3>Create Merchant</h3>
<div id='form'>
  <%= render partial: 'partials/admin/form', locals: { path: admin_merchants_path,
                                                       method: :post,
                                                       button_text: 'Submit' } %>
</div>
