<h1><%= @merchant.name %></h1>

<br>

<%= link_to 'Merchant Items Index', merchant_items_path(@merchant) %>
<%= link_to 'Merchant Invoices Index', merchant_invoices_path(@merchant) %>

<section id="ready-to-ship">
  <h2>Items Ready to Ship</h2>
  <% @invoice_items.items_ready_to_ship(@merchant).each do |invoice_item| %>
    <%= invoice_item.item.name %>
  <% end %>
</section>
