<%= render partial: 'partials/merchants/navbar', locals: {merchant: @merchant}%>

<div id='page-links'>
  <%= link_to 'Add New Item', new_merchant_item_path(@merchant), class:'btn btn-primary btn-sm'%>
</div>
<br/>
<div class='container' id='item-list'>
  <div class='row'>
    <div class='col text-center'>
      <h3>My Items</h3>
    </div>
  </div>
  <div class='row'>
    <div class='col'>
      <div id='enabled-items'>
        <h4><span>Enabled Items</span></h4>
        <%= render partial: 'partials/merchants/enable_disable_item_table', locals: { items: @enabled_items, merchant: @merchant, enable: false } %>
      </div>

      <div id='disabled-items'>
        <h4>Disabled Items</h4>
        <%= render partial: 'partials/merchants/enable_disable_item_table', locals: { items: @disabled_items, merchant: @merchant, enable: true }%>
      </div>
    </div>
    <div class='col text-center'>
      <h4>Top Items</h4>
    </div>
  </div>
</div>
