<table class='table table-hover'>
  <thead>
    <tr>
      <th>Merchant Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% merchants.each do |merchant| %>
      <tr id="merchant-<%=merchant.id%>">
        <td><%= link_to merchant.name, admin_merchant_path(merchant) %></td>
        <td><%= enable_disable_merchant_link(enable, merchant) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

